:root {
    --yellow: #ffc107;
    --white: wheat;
}

.bg-yellow {
    background-color: #ffc107;
    /* height: 500px; */
}

.bg-white {
    background-color: white;
    /* height: 500px; */
}

.bg-black {
    background-color: black;
}

.bg-text-white-big {
    color: white;
    font-size: x-large;
}

.text-yellow{
    color: #ffc107;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}