.bg-yellow {
    background-color: #ffc925;
    /* height: 500px; */
}

.bg-white {
    background-color: white;
    /* height: 500px; */
}

.bg-black {
    background-color: black;
}

.bg-text-white-big {
    color: white;
    font-size: x-large;
}

.text-yellow{
    color: #ffc925;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}